.putih{
	color: #ffffff !important;
}

.hitamsemu{
	color: #697276 !important;
}

.hitam{
	color: #2f3443 !important;
}

.merah{
	color: #ed4949 !important;
}

.background-merahmuda{
	background-color: #ff6666 !important;
}

.hitampekat{
	color: #000000 !important;
}

.abuputih{
	color: #92aace !important;
}

.biru{
	color: #073b6d !important;
}

.background-birumuda{
	background-color: #6a89a7 !important;
}

.abu{
	color: #b8c1c9 !important;
}

.hijau{
	color: #2cb98a !important;
}

.background-hijaumuda{
	background-color: #82d6ba !important;
}

.background-kuningmuda{
	background-color: #ffe066 !important;
}